*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
    background-image: url("back-img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}
.detail-box{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  /*align-items: center;*/
}
/*.detail-box input{
  padding: 10px;
}*/
input[class=FN]{
      width: 300px; height:40px; border-radius:15px;
      padding: 12px 20px;
      margin: 8px 0;
      font-size: 20px;
      font-family: cursive;
      font-weight: italic;
      box-sizing: border-box;
      border: none;
      background-color: #3CBC8D;
      color: white;

}
.LOGIN{
  width: 100px;
  height: 40px;
  border-radius: 25px;
  background-color: grey;
  font-weight: bold;
  font-family: cursive;
}
.detail-box .a{
  font-size: 20px;
  font-weight: bolder;
  font-family:
}
.box-p{
  display: flex;
  /*text-align:center;*/
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
}
.a{
  display: flex;
  /*text-align:center;*/
  justify-content: center;
}
.welcome{
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wc-msg{
  font-family: cursive;
  font-size: 60px;
  font-weight: bolder;
  color: #60BD08;
}
.tag-line{
  position: fixed;
  top: 90px;
  left: 725px;
  font-family: serif;
  font-size: 20px;
  color: #EA0202;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
}

.main header {
    height: 60px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background-color: #1f1f1f;
}

.main footer {
    height: 80px;
    background-color: black;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content:center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.fast-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-left: -50px;
}


.hidden {
    display: none;
}

.right.floated {
    float: right;
}
.user-name{
  padding-right: 20px;
  font-style: italic;
  font-family: cursive;
}
.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: red ;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    padding-left: 20px;
    padding-bottom: 5px;
    height: 60px;
    width: 80px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}


/*DataTables overrides*/
table.dataTable tbody tr {
    background-color: initial;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: transparent;
}
#songs_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}
.mar{
  margin-left: 20px;
}
.marR{
  margin-right: 20px;
}

.sidebar{
  position: absolute;
  margin-left: -280px;
  margin-top: -31.5px;
  height: 501px;
  width:250px;
  background: black;
}
.size{
  font-size: 20px;
  font-family: cursive;
}
.small-size{
  font-size: 15px;
  font-family: cursive;
}
.size li{
  padding-bottom: 5px;
}
.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}

.bord{
  border-left-style: solid;
  border-left-color: #00ff00;
  border-left-width: 6px;
}
li {
  color: lime; /* bullet color */
}
li span{
  color:white;
}


.song:hover {background-color: grey}
.logout{
  border-radius: 10px;

}
